

// Places
$places:(
    "color":"text",
    "background-color":'bg',
);

// Colors
$main-color:#ffc100;
$second-color:#f65024;
$third-color:#dbf1ff;



$colors:(
    "main"      : $main-color,
    "orange"    : $second-color,
    "yellow"    : $third-color
);

@each $prop,$place in $places{
    @each $name,$color in $colors{
        .#{$place}-#{$name}{
            #{$prop}:#{$color};
        }
    }
}